server:
  port: 83
spring:
  application:
    name: nacos-order-consumer
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
service-url:
  nacos-user-service: http://nacos-payment-provider/pay/nacos

# 激活Sentinel对feign的支持
feign:
  sentinel:
    enabled: true